input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 360px;
}

.input-content {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.start-icons,
.end-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 15px;
  margin-right: 10px;
  filter: var(--pikfix-filter-black);
}
